*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: transparent;
    border: none;
    font-family: 'Urbanist', Courier, monospace;
}

img {
    width: 100%;
}

body {
    background-color: rgba(250, 253, 242, 1);
}

.site-container {
    max-width: 1920px;
    padding: 0 100px;
    margin: 0 auto;
}

.site-header {
    background-color: rgba(26, 49, 41, 1);
    border: 1px solid rgba(238, 248, 211, 1);
    padding: 34px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-block {
    max-width: 195px;
}

.navigation {
    display: flex;
    gap: 25px;
}

.nav-button {
    font-size: 18px;
    font-weight: 600;
    color: rgba(203, 234, 123, 1);
    color: white;
}

.nav-item {
    position: relative;
}

.nav-dropdown {
    height: 100px;
    padding: 0 10px;
    color: white;
    text-align: center;
    background-color: rgba(203, 234, 123, 1);
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
}

.dropdown-home {
    opacity: 1;
}

.dropdown-about,
.dropdown-team {
    opacity: 0;
}

.banner-section {
    padding-top: 200px;
    padding-bottom: 80px;
}

.banner-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
}

.banner-description {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.feedback-wrapper {
    max-width: 1920px;
    padding: 0 100px;
    margin: 0 auto;
}

.feedback-item {
    border: 1px solid rgba(238, 248, 211, 1);
    margin-bottom: 30px;
    display: none;
}

.item-active {
    display: block;
}

.feedback-content {
    padding: 40px;
}

.feedback-info {
    padding: 40px;
    background-color: rgba(246, 251, 233, 1);
    display: flex;
    align-items: center;
    gap: 15px;
}

.feedback-picture {
    max-width: 60px;
    border-radius: 8px;
}

.feedback-description {
    font-size: 18px;
    font-weight: 600;
}

.feedback-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prev-button, 
.next-button {
    padding: 7px;
    background-color: rgba(229, 245, 189, 1);
    transform: rotate(180deg);
}

.pagination-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(229, 245, 189, 1);
}

.active-dot {
    background-color: rgba(53, 101, 84, 1);
}

.pricing-section {
    text-align: center;
    padding: 100px 0;
}

.pricing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.pricing-options {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.pricing-tab-button {
    padding: 10px 20px;
    font-family: 'semibold';
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #DCF1A7;
    transition: background-color 0.3s, color 0.3s;
}

.active-tab, 
.pricing-tab-button:hover {
    background-color: #234338;
    color: #ffffff;
}

.tab-content {
    display: none;
}

.active-content {
    display: block;
}

.plan-options {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.plan-card {
    width: 512px;
    background-color: #F6FBE9;
    padding: 50px;
    border: 1px solid #EEF8D3;
    border-radius: 12px;
    text-align: center;
}

.plan-header h3 {
    font-size: 30px;
    color: #262626;
}

.plan-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.plan-price h3 {
    font-size: 50px;
    font-weight: bold;
}

.choose-plan-button button {
    width: 100%;
    padding: 15px 0;
    background-color: #CBEA7B;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.faq-section {
    padding: 100px 0;
    position: relative;
}

.faq-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.faq-description {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.faq-link {
    position: absolute;
    right: 20px;
    top: 100px;
    color: rgba(203, 234, 123, 1);
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    transition: 0.8s ease-in-out;
}

.accordion-section {
    padding: 60px 0;
}

.accordion-wrapper {
    max-width: 1700px;
    margin: 0 auto;
}

.accordion-content {
    padding: 30px;
}

.accordion-item {
    border-bottom: 1px solid rgba(229, 245, 189, 1);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-question {
    font-size: 20px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
}

.accordion-answer {
    font-size: 18px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
    margin-top: 25px;
    display: none;
}

.accordion-icon {
    width: 48px;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    background-color: var(--Green-85, #1A3129);
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

.modal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.modal-content-box {
    padding: 30px;
    background-color: var(--Green-95, #234338);
    border-radius: 8px;
    color: var(--Green-70, #cbea7b);
}

.close-button {
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
